.right-bar
  - if user_signed_in?
    = link_to "新規投稿", new_post_path
    = link_to "投稿管理", user_path(current_user)
    = link_to "ログアウト", destroy_user_session_path, method: :delete
    = link_to "タグの作成", new_tag_path
  - else
    = link_to "ログイン", new_user_session_path, class:"right-bar__btn"
  .right-bar__search
    %input.right-bar__search--text{:placeholder => "サイト内を検索", :type => "text"}/
    %input.right-bar__search--btn{:type => "submit"}/
  .right-bar__tag
    - @tags.each do |tag|
      = link_to "#" do
        = tag.text
