<div class="right-bar">
  <% if user_signed_in? %>
    <%= link_to "新規投稿", new_post_path %>
    <%= link_to "投稿管理", "#" %>
    <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
    <%= link_to "タグの作成", new_tag_path %>
  <% else %>
    <%= link_to "ログイン", new_user_session_path, class:"right-bar__btn" %>
  <% end %>
  <div class ="right-bar__search">
    <input type="text" class="right-bar__search--text" placeholder="サイト内を検索">
    <input type="submit" class="right-bar__search--btn" >
  </div>
  <div class="right-bar__tag"></div>
</div>